/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            //  |  TAB |  Q  |  W  |  F  |  D  |  P  |   |  J  |  L   |  U  |  Y  |  ;  | BSPC |
            //  | SHFT |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
            //  | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  K  |  H   |  ,  |  .  |  /  | ESC  |
            //                     | GUI | MO2 | SPC |   | ENT | MO1  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F     &kp D  &kp P        &kp J    &kp L  &kp U      &kp Y    &kp SEMI  &kp BSPC
&kp LSHFT  &kp A  &kp R  &kp S     &kp T  &kp G        &kp M    &kp N  &kp E      &kp I    &kp O     &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp K    &kp H  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &mo 2  &kp SPACE    &kp RET  &mo 1  &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            //       |  TAB |  1  |  2  |  3  |  4  |  5  |    |     |  HM |  UP | END | PGU | BSPC |
            //       | SHFT |  6  |  7  |  8  |  9  |  0  |    |     | LFT | DWN | RGT | PGD |  ~   |
            //       | CTRL |     |     |     |     |     |    |     |     |     |     |  \  | ESC  |
            //                          | GUI |     | SPC |    | ENT |     | ALT |

            bindings = <
&kp TAB    &kp N1  &kp N2  &kp N3    &kp N4  &kp N5       &trans   &kp HOME  &kp UP    &kp END    &kp PG_UP  &kp BSPC
&kp LSHFT  &kp N6  &kp N7  &kp N8    &kp N9  &kp N0       &trans   &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &kp GRAVE
&kp LCTRL  &trans  &trans  &trans    &trans  &trans       &trans   &trans    &trans    &kp BSLH   &trans     &trans
                           &kp LGUI  &trans  &kp SPACE    &kp RET  &trans    &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            //            |  TAB |  F1 | F2  | F3  | F4  | F5  |   |      |      |      |      |      |  BSPC |
            //            | SHSHFT |  F6 | F7  | F8  | F9  | F10 |   |      |      |      |      |      |       |
            //            | CTRL | F11 | F12 | F13 | F14 | F15 |   |      |      |      |      |      |       |
            //                               | GUI |     | SPC |   | ENT  |      | ALT  |

            bindings = <
&kp TAB    &kp F1   &kp F2   &kp F3    &kp F4   &kp F5       &trans   &trans  &trans    &trans  &trans  &kp BSPC
&kp LSHFT  &kp F6   &kp F7   &kp F8    &kp F9   &kp F10      &trans   &trans  &trans    &trans  &trans  &trans
&kp LCTRL  &kp F11  &kp F12  &kp F13   &kp F14  &kp F15      &trans   &trans  &trans    &trans  &trans  &kp ESC
                             &kp LGUI  &trans   &kp SPACE    &kp RET  &trans  &kp RALT
            >;
        };
    };
};
